/*!
 * jQuery pfarqed credit card plugin
 * https://github.com/pfarq/jquery-pfarqedcc-plugin/
 *
 * Copyright 2011, Llama
 * Licensed under the MIT license.
 * See MIT-LICENSE.txt for the complete text.
 */

body 
{
    font: 13px/1.5 'Arimo', 'Muli', 'Nunito', 'Varela', 'Helvetica Neue', Arial, sans-serif;
}

.pfcc-entry-form > div 
{
    margin-bottom: 8px;
}

.pfcc-icon
{
    opacity: 1.0;
    margin: 0px;
    margin-right: 4px
}

.pfcc-number,
.pfcc-security
{
    background:#fff;
    border: 1px solid #b3b3b3;
    padding: 4px 6px;
}

.pfcc-number
{
    width: 160px;
}

.pfcc-security
{
    width: 100px;
}

.pfcc-input-error
{
    background: #f2c2c8 !important;
}

.pfcc-status
{
    margin-left: 0px;
    padding: 0px  20px;  
}

.pfcc-status > li
{
    color: #992836;
    padding: 0px;
    margin-left: 0px;
}
